@import url("https://fonts.googleapis.com/css?family=Roboto");

@media (min-width: 768px) and (max-width: 1024px) {

.App {
    display: grid;
    grid-template-columns: auto 100px 100px 100px;
    grid-template-rows: 3;
}

.Nav-bq {
    grid-column: 1/5;
    grid-row: 1;
    background-color: #ffffff;
    
}

.Nav-bq-menu {
    position: relative
}

.Order-Details{
margin-right: 55px;
float:right;
font-family: "Roboto";
font-size: 25px;
}

.Main-menu{
    background-color: #2f4858; 
grid-row: 2; 
}

a {
    color: #ffffff;
    text-decoration: none;
}

.Nav-food-and-drinks {
    display: inline-block;
    white-space: normal;
    text-decoration: none;
    font-family: "Roboto";
    font-size: 25px;
    color: #ffffff;
    padding: 5px;
    padding-left: 0px;

}

.main-content {
    grid-row: 3;
    height: 100%;
    background-color: #2f4858;
    margin-top: 0%;
    padding: 0%
}

body {
    background-color: aquamarine;
    font-family: 
}

  }
